* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', 'sans-serif';
}

body .container {
  padding: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.todoHeader {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 2rem 0rem;
}

.todoHeader h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: green;
  padding: 2rem 0;
  text-align: center;
  width: 32vw;
  color: white;
  font-size: 30px;
}

.addTodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addTodo input {
  border: none;
  padding: 1rem 1rem;
  width: 25rem;
  float: left;
  font-size: 16px;
  border: 2px solid gray;
}

.addBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0rem;
  width: 20%;
  background: gray;
  color: white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: blue;
}

.filter {
  padding: 0rem 0.4rem;
  width: 25%;
  margin-left: 1rem;
  background: gray;
  color: white;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter:hover {
  background-color: blue;
}

.listTodo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60%;
  align-self: center;
  list-style: none;
}

.listTodo li {
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listTodo li:nth-child(odd) {
  background: yellow;
}

.listTodo li:nth-child(even) {
  background: yellowgreen;
}

.listTodo li.checked {
  text-decoration: line-through;
  color: red;
}

.listTodo li.checked::before {
  content: '\2713';
  display: inline-block;
  color: blue;
  position: absolute;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.listTodo .close {
  position: absolute;
  left: 76%;
  padding-right: 1.5rem;
  color: red;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.listTodo .edit_button {
  position: absolute;
  left: 71%;
  background-color: gray;
  color: white;
  border: none;
  padding: 0.3rem;
}

.listTodo .edit_button:focus {
  outline: none;
}

.input-text {
  padding-left: 2rem;
}

@media only screen and (max-width: 425px) {
  .container {
    padding: 3rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .todoHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 2rem 0rem;
  }
  .todoHeader h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: green;
    padding: 2rem 0;
    text-align: center;
    color: white;
    width: 100vw;
    font-size: 25px;
  }
  .addTodo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0rem;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .addTodo input {
    border: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 0;
    padding: 1rem 1rem;
    width: 7rem;
    float: left;
    font-size: 12px;
    border: 2px solid gray;
  }
  .addBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 14vw;
    padding: 0.4rem;
    background: gray;
    color: white;
    float: left;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .filter {
    padding: 0rem 0rem;
    width: 20%;
    margin-left: 1rem;
    background: gray;
    color: white;
    float: left;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .listTodo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    align-self: center;
    list-style: none;
    padding: 0rem 1rem;
    margin-top: 2rem;
  }
  .listTodo li {
    padding: 1rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: gray;
    margin-top: 1.5rem;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .listTodo li:nth-child(odd) {
    background: yellow;
  }
  .listTodo li:nth-child(even) {
    background: yellowgreen;
  }
  .listTodo li.checked {
    text-decoration: line-through;
    color: red;
  }
  .listTodo li.checked::before {
    content: '\2713';
    display: inline-block;
    color: blue;
    position: absolute;
    font-size: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .listTodo .close {
    position: absolute;
    left: 86%;
    color: red;
    font-size: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .input-text {
    padding-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */