* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', 'sans-serif';
}
@mixin boxStyle {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

body .container {
	padding: 5rem 0rem;
	@include boxStyle;
}

.todoHeader {
	width: 90%;
	@include boxStyle;
	align-self: center;
	padding-top: 2rem 0rem;
	h3 {
		align-self: center;
		background-color: green;
		padding: 2rem 0;
		text-align: center;
		width: 32vw;
		color: white;
		font-size: 30px;
	}
}
.addTodo {
	display: flex;
	padding: 3rem 0rem;
	align-self: center;
	justify-content: center;
	input {
		border: none;
		padding: 1rem 1rem;
		width: 25rem;
		float: left;
		font-size: 16px;
		border: 2px solid gray;
	}
}
.addBtn {
	@include boxStyle;
	padding: 0rem;
	width: 20%;
	background: gray;
	color: white;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
}
.addBtn:hover {
	background-color: blue;
}
.filter {
	padding: 0rem 0.4rem;
	width: 25%;
	margin-left: 1rem;
	background: gray;
	color: white;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
}
.filter:hover {
	background-color: blue;
}
.listTodo {
	align-self: center;
	width: 60%;
	align-self: center;
	list-style: none;
	li {
		padding: 1rem 1rem;
		margin-top: 1.5rem;
		display: flex;
		color: gray;
		font-weight: 600;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	li:nth-child(odd) {
		background: yellow;
	}
	li:nth-child(even) {
		background: yellowgreen;
	}
	li.checked {
		text-decoration: line-through;
		color: red;
	}
	li.checked::before {
		content: '\2713';
		display: inline-block;
		color: blue;
		position: absolute;
		font-size: 25px;
		align-self: center;
	}
	.close {
		position: absolute;
		left: 76%;
		padding-right: 1.5rem;
		color: red;
		font-size: 25px;
		align-self: center;
	}
	.edit_button {
		position: absolute;
		left: 71%;
		background-color: gray;
		color: white;
		border: none;
		padding: 0.3rem;
	}
	.edit_button:focus {
		outline: none;
	}
}
.input-text {
	padding-left: 2rem;
}

@media only screen and (max-width: 425px) {
	.container {
		padding: 3rem 0rem;
		@include boxStyle;
	}

	.todoHeader {
		width: 100%;
		@include boxStyle;
		align-self: center;
		padding-top: 2rem 0rem;
		h3 {
			align-self: center;
			background-color: green;
			padding: 2rem 0;
			text-align: center;
			color: white;
			width: 100vw;
			font-size: 25px;
		}
	}
	.addTodo {
		display: flex;
		padding: 3rem 0rem;
		align-self: center;
		width: 100vw;
		justify-content: center;
		input {
			border: none;
			align-self: center;
			border-radius: 0;
			padding: 1rem 1rem;
			width: 7rem;
			float: left;
			font-size: 12px;
			border: 2px solid gray;
		}
	}
	.addBtn {
		@include boxStyle;
		width: 14vw;
		padding: 0.4rem;
		background: gray;
		color: white;
		float: left;
		text-align: center;
		font-size: 12px;
		cursor: pointer;
		transition: 0.3s;
	}
	.filter {
		padding: 0rem 0rem;
		width: 20%;
		margin-left: 1rem;
		background: gray;
		color: white;
		float: left;
		text-align: center;
		font-size: 12px;
		cursor: pointer;
		transition: 0.3s;
	}
	.listTodo {
		align-self: center;
		width: 100%;
		align-self: center;
		list-style: none;
		padding: 0rem 1rem;
		margin-top: 2rem;
		li {
			padding: 1rem 0rem;
			display: flex;
			color: gray;
			margin-top: 1.5rem;
			font-weight: 600;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		li:nth-child(odd) {
			background: yellow;
		}
		li:nth-child(even) {
			background: yellowgreen;
		}
		li.checked {
			text-decoration: line-through;
			color: red;
		}
		li.checked::before {
			content: '\2713';
			display: inline-block;
			color: blue;
			position: absolute;
			font-size: 25px;
			align-self: center;
		}
		.close {
			position: absolute;
			left: 86%;
			color: red;
			font-size: 25px;
			align-self: center;
		}
	}
	.input-text {
		padding-left: 2rem;
	}
}
